<div *ngIf="repository" class="component">
  <div class="header">
    <div class="information">
      <img src="../../assets/images/logo_crni.png" alt="" />
      <div class="details">
        <div class="top">
          <span>{{ repository.owner.name }}/{{ repository.name }}</span>
        </div>
        <div class="desc">
          By {{ repository.owner.name }}
          <span>
            &nbsp; &#9900; Updated {{ repository.updated | timeAgo }}
          </span>
        </div>

        <div class="tags">
          <span> {{ repository.categoryString }} </span>
        </div>
      </div>
      <div class="bottom">
        <span (click)="starClick()" style="cursor: pointer">
          <i
            class="fa fa-star fa-2x"
            [ngStyle]="{ color: isStarred ? '#4271e7' : '#999999' }"
            aria-hidden="true"
          ></i>
          <p>{{ repository.star }}</p>
        </span>
      </div>
    </div>

    <div class="nav">
      <a routerLink="overview" routerLinkActive="active"> Overview </a>
      <a routerLink="tags" routerLinkActive="active"> Tags </a>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
