<div class="container">
  <div class="image-info">
    <div class="circle">
      <img src="assets/svg/uuser_placeholder.svg" alt="Slika" />
    </div>
    <div class="image-name">
      {{ name?.firstName }}
      {{ name?.lastName }}
      <a
        routerLink="/dockerhub/accountSettings"
        target="_blank"
        rel="noopener
        noreferrer"
        class="link"
      >
        Edit profile
      </a>
    </div>
  </div>

  <div class="menu-items">
    <button
      class="menu-item-button"
      mat-menu-item
      [class.active]="selectedOption === 'starred'"
      (click)="selectedOption = 'starred'"
    >
      <span class="menu-item">Starred</span>
    </button>
  </div>

  <div class="content">
    <div class="component">
      <h2>Starred Repositories</h2>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Last Pushed</th>
            <th>Organisation</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let repo of starredRepos"
            [routerLink]="['/dockerhub/r', repo.id]"
          >
            <td>
              {{
                repo.organisation?.name
                  ? (repo.organisation?.name | spaceToUnderscore | lowercase)
                  : (repo.owner.name | lowercase)
              }}/{{ repo.name }}
            </td>
            <td>
              {{
                repo.updated
                  ? (repo.updated | date : "mediumDate")
                  : (repo.created | date : "mediumDate")
              }}
            </td>
            <td>{{ repo.organisation?.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
