<div class="container">
  <div class="image-info">
    <div class="circle">
      <img src="assets/svg/uuser_placeholder.svg" alt="Slika" />
    </div>
    <div class="image-name">
      {{ name?.firstName }}
      {{ name?.lastName }}
      <a
        routerLink="/dockerhub/accountSettings"
        target="_blank"
        rel="noopener
        noreferrer"
        class="link"
      >
        Edit profile
      </a>
    </div>
  </div>

  <div class="menu-items">
    <button
      class="menu-item-button"
      mat-menu-item
      [class.active]="selectedOption === 'repositories'"
      (click)="selectedOption = 'repositories'"
    >
      <span class="menu-item">Repositories</span>
    </button>
    <button
      class="menu-item-button"
      mat-menu-item
      [class.active]="selectedOption === 'starred'"
      (click)="selectedOption = 'starred'"
    >
      <span class="menu-item">Starred</span>
    </button>
  </div>

  <div class="content"></div>
</div>
