<div class="component">
  <div class="header">
    <div class="filters">
      <select name="repo" id="repo">
        <option *ngFor="let namespace of namespaces" value="{{ namespace }}">
          {{ namespace }}
        </option>
      </select>
      <input type="text" placeholder="Search repositories by name" />
      <select name="content" id="content">
        <option value="1">Da li</option>
        <option value="2">cemo</option>
        <option value="3">zdrzati</option>
        <option value="4">ovo</option>
        <option value="5">za content</option>
      </select>
    </div>
    <button class="blueButton">Create a repository</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Pushed</th>
        <th>Contains</th>
        <th>Visibility</th>
        <th>Scout</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let repo of repos">
        <td>{{ repo.name }}</td>
        <td>
          <!-- If repo was updated show that date if not show created date-->
          {{
            repo.updated
              ? (repo.updated | date : "mediumDate")
              : (repo.created | date : "mediumDate")
          }}
        </td>
        <td>Some data</td>
        <td>{{ repo.visibility ? "Public" : "Private" }}</td>
        <td>Scout Data</td>
      </tr>
    </tbody>
  </table>
  <span>Loaded {{ loadedRepos }} repositories</span>
</div>
