<!-- TODO ADD VARIABLES TO THIS COMPONENT IN ORDER TO BE ABLE TO SHOW WHAT IS NEEDED -->
<div class="component">
  <div class="header">
    <div class="filters">
      <select name="namespace" id="namespace">
        <option *ngFor="let namespace of namespaces" value="{{ namespace }}">
          {{ namespace }}
        </option>
      </select>
      <input type="text" placeholder="Search repositories by name" />
      <select name="content" id="content">
        <option value="1">Da li</option>
        <option value="2">cemo</option>
        <option value="3">zdrzati</option>
        <option value="4">ovo</option>
        <option value="5">za content</option>
      </select>
    </div>
    <button class="blueButton" routerLink="/dockerhub/create">
      Create a repository
    </button>
  </div>

  <table style="border-collapse: collapse; width: 100%">
    <thead>
      <tr>
        <th
          class="sortableTh"
          (click)="sortTable('name')"
          style="cursor: pointer"
        >
          Name
          <span *ngIf="sortField === 'name'">
            {{ sortDirection === "asc" ? "▲" : "▼" }}
          </span>
        </th>
        <th
          class="sortableTh"
          (click)="sortTable('updated')"
          style="cursor: pointer"
        >
          Last Pushed
          <span *ngIf="sortField === 'updated'">
            {{ sortDirection === "asc" ? "▲" : "▼" }}
          </span>
        </th>
        <th>Contains</th>
        <th>Visibility</th>
        <th>Scout</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let repo of sortedRepos"
        (click)="openRepo(repo.name)"
        routerLink="../repository/{{ repo.namespace }}/{{ repo.name }}"
        style="cursor: pointer; border-bottom: 1px solid #ddd"
      >
        <td>{{ repo.name }}</td>
        <td>
          {{
            repo.updated
              ? (repo.updated | date : "mediumDate")
              : (repo.created | date : "mediumDate")
          }}
        </td>
        <td>Some data</td>
        <td>{{ repo.visibility ? "Public" : "Private" }}</td>
        <td>Scout Data</td>
      </tr>
    </tbody>
  </table>

  <span>Loaded {{ loadedRepos }} repositories</span>
</div>
