<div class="component">
  <div class="header">
    <button class="outlinedButton" *ngIf="isOwner" (click)="openDialog()">
      Create team
    </button>
  </div>
  <table>
    <thead>
      <th>Team</th>
      <th>Description</th>
      <th>Team Permission</th>
      <th>Members</th>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams">
        <!-- TODO CREATE TEAM PAGE -->
        <td>
          <a *ngIf="isOwner" (click)="openTeamDialog(team)">{{ team.name }}</a>
          <span *ngIf="!isOwner">{{ team.name }}</span>
        </td>

        <td>{{ team.description }}</td>
        <td>{{ team.teamPermission?.replace("_", " ") | titlecase }}</td>
        <td>
          {{ team.members?.length }}
          <a
            *ngIf="isOwner"
            (click)="openAddMembersDialog(organisation.members, team)"
          >
            + Add
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
