<div class="component">
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Team name</mat-label>
    <input matInput placeholder="Start typing..." />
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>Short description</mat-label>
    <input matInput placeholder="Start typing..." />
  </mat-form-field>
  <div class="footer">
    <button class="redButton" mat-dialog-close>Cancel</button>
    <button class="blueButton">Create</button>
  </div>
</div>
