<div class="component">
  <div class="header">
    <input
      type="text"
      placeholder="Filter tags..."
      [(ngModel)]="searchTerm"
      (input)="applyFilter()"
    />

    <button
      class="blueButton"
      *ngIf="canAddTags && isUserLoggedIn"
      (click)="openAddTagDialog()"
    >
      Push new tag
    </button>
  </div>

  <div class="tagCard" *ngFor="let tag of filteredTags">
    <span>TAG</span>
    <div class="top">
      <div class="topleft">
        <a>{{ tag.name }}</a>
        <span>
          Last pushed <span class="boldSpan">{{ tag.pushed }} ago</span> by
          <a>{{ tag.author }}</a>
        </span>
      </div>
      <div class="topright">
        <div class="terminal">
          {{ tag.dockerPullCommand }}
          <button (click)="copyToClipboard(tag.dockerPullCommand)">Copy</button>
        </div>
        <div class="toast" *ngIf="showToast">Copied to clipboard!</div>
      </div>
    </div>

    <div class="table">
      <table style="border-collapse: collapse; width: 100%">
        <thead>
          <tr>
            <th>Digest</th>
            <th>Last pulled</th>
            <th>Compressed size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a>{{ generateDigest(tag.id) }}</a>
            </td>
            <td>{{ tag.pulled }} ago</td>
            <td>{{ getCompressedSize(tag.id) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
