<mat-card>
  <mat-card-header>
    <h2>Update Account Information</h2>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
      <!-- First Name -->
      <mat-form-field appearance="outline" class="full-width">
        <input matInput formControlName="firstName" placeholder="First Name" />
      </mat-form-field>

      <!-- Last Name -->
      <mat-form-field appearance="outline" class="full-width">
        <input matInput formControlName="lastName" placeholder="Last Name" />
      </mat-form-field>

      <!-- Username -->
      <mat-form-field appearance="outline" class="full-width">
        <input matInput formControlName="username" placeholder="Username" />
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="outline" class="full-width">
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="Email"
        />
      </mat-form-field>

      <!-- Submit Button -->
      <div class="button-container">
        <button
          class="outlinedButton"
          type="submit"
          [disabled]="accountForm.invalid"
        >
          Save Changes
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<!-- <mat-card>
  <mat-card-header>
    <h2>Deactivate user account</h2>
  </mat-card-header>
  <mat-card-content>
    <div>
      <span style="font-weight: bold">
        You can't undo this action. <br /><br
      /></span>
      <span>
        This action will deactivate and remove access to this user account. <br
      /></span>
      <span>
        All public and private repositories will be removed. <br />
        <br
      /></span>
      <button class="deactivate" mat-raised-button color="primary">
        Deactivate account
      </button>
    </div>
  </mat-card-content>
</mat-card> -->
