<div class="component">
  <h2>Collaborators</h2>
  <p>Collaborators will be given push and pull access to this repository.</p>
  <div class="center">
    <input type="text" placeholder="Username" />
    <div class="add">
      <i class="fa fa-plus" aria-hidden="true"></i>
      <span>Add colaborator</span>
    </div>
  </div>
  <h3>Current collaborators</h3>
  <table>
    <tbody>
      <tr>
        <td>
          <a>collaboratorUsername</a>
        </td>
        <td align="right">
          <i class="fa fa-minus-square-o" aria-hidden="true"></i>
        </td>
      </tr>

      <tr>
        <td>
          <a>collaboratorUsernamedasdasdasas</a>
        </td>
        <td align="right">
          <i class="fa fa-minus-square-o" aria-hidden="true"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
