<div class="container">
  <h3>Visibility settings <i class="fa fa-globe" aria-hidden="true"></i></h3>
  <p>
    This repository is
    <strong>{{ repository?.visibility | lowercase }}</strong
    >.
  </p>
  <button class="blueButton" (click)="toggleVisibility()">
    Make
    {{
      repository?.visibility === visibilityEnum.PUBLIC ? "Private" : "Public"
    }}
  </button>
</div>

<div class="container">
  <h3>Delete repository</h3>
  <p>
    Deleting a repository will destroy all images stored within it. This action
    cannot be undone.
  </p>
  <button class="redButton" (click)="deleteRepository()">
    Delete repository
  </button>
</div>
