<div class="component">
  <div class="sidebar">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Catalogs </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Content</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Trusted content </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Content</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Categories </mat-panel-title>
      </mat-expansion-panel-header>
      <p *ngFor="let category of categories">{{ category }}</p>
    </mat-expansion-panel>
  </div>
  <div class="main">
    <div class="row" *ngFor="let category of categories | slice : 0 : 4">
      <h5>{{ category }}</h5>
      <app-cardbar></app-cardbar>
    </div>
  </div>
</div>
