<div class="component">
  <div class="nav">
    <a
      routerLink="general"
      [routerLinkActive]="'active'"
      [ngClass]="{ active: isActive('/general') }"
    >
      General
    </a>

    <a
      routerLink="tags"
      [routerLinkActive]="'active'"
      [ngClass]="{ active: isActive('/tags') }"
    >
      Tags
    </a>

    <!-- <a
      routerLink="collaborators"
      [routerLinkActive]="'active'"
      [ngClass]="{ active: isActive('/collaborators') }"
    >
      Collaborators
    </a> -->

    <a
      routerLink="settings"
      [routerLinkActive]="'active'"
      [ngClass]="{ active: isActive('/settings') }"
    >
      Settings
    </a>
  </div>
  <router-outlet></router-outlet>
</div>
