h2 {
  margin: 0;
}

a:hover {
  cursor: pointer;
}

.component {
  width: 100%;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.information {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  padding: 3rem;
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}

.details > * {
  display: flex;
  flex-direction: row;
}

.information > img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  /* background-color: var(--gray5); */
  border-radius: 7px;
}

.header .nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px var(--gray5) solid;
  margin-bottom: 2.5rem;
}

.header .nav a {
  font-size: large;
  color: black;
  margin-right: 2rem;
}

.header .nav a:hover {
  cursor: pointer;
  color: black;
  opacity: 0.9;
}

.desc {
  margin-bottom: 2.5rem;
  align-items: center;
  font-size: 2rem;
}

.desc span {
  margin-left: 1rem;
  margin-right: 3rem;
  color: var(--gray2);
  opacity: 0.85;
  font-size: 1.6rem;
}

.header .nav > * {
  margin-right: 10px;
}

.header .nav a:hover {
  text-decoration: none;
}

.header .nav a {
  text-decoration: none;
  padding: 0 5px;
}

.header .nav a.active {
  border-bottom: 4px solid var(--blue-primary);
}
