<div class="component">
  <div class="header">
    <div class="information">
      <img src="../../assets/images/company.png" alt="" />
      <div class="details">
        <h3>{{ organisation.name }}</h3>
        <div class="desc">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <span>Community organisation</span>
          <i class="fa fa-building-o" aria-hidden="true"></i>
          <span>Company owner: {{ owner }}</span>
          <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
          <span>Joined December 11, 2024</span>
        </div>
      </div>
    </div>
    <p style="margin: 20px; font-weight: 500; font-size: medium">
      {{ organisation.description }}
    </p>
    <div class="nav">
      <a
        routerLink="members"
        [routerLinkActive]="'active'"
        [ngClass]="{ active: isActive('/overview') }"
      >
        Members
      </a>

      <a
        routerLink="teams"
        [routerLinkActive]="'active'"
        [ngClass]="{ active: isActive('/tags') }"
      >
        Teams
      </a>
      <a
        routerLink="repositories"
        [routerLinkActive]="'active'"
        [ngClass]="{ active: isActive('/tags') }"
      >
        Repositories
      </a>
      <a
        routerLink="settings"
        [routerLinkActive]="'active'"
        [ngClass]="{ active: isActive('/tags') }"
      >
        Settings
      </a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
