.top {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px var(--gray5) solid;
  padding: 0 2rem;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  border-radius: 2px;
}

.top h2 {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
}

.top h2 i {
  margin-left: 15px;
  color: var(--gray4);
  font-size: 3.4rem;
}

.descDiv i,
.categories i {
  color: var(--gray35);
  margin-left: 7px;
  font-size: 2.55rem;
}
.descDiv i:hover,
.categories i:hover {
  color: var(--gray25);
  cursor: pointer;
}

.topleft button {
  margin-left: 1.5rem;
}

.topleft input {
  padding-left: 0.5rem;
  height: 40px;
  width: 35rem;
}

.topleft select {
  padding: 0 0.5rem;
  height: 30px;
}

.topleft {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}

.topleft > p {
  color: var(--gray3);
  font-size: 1.55rem;
}

.descDiv span {
  font-size: 1.55rem;
  width: 100%;
  text-wrap: wrap;
}

.categories {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.categories > span {
  margin-right: 0.8rem;
  background-color: var(--gray55);
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  padding: 4px 6px;
  border-radius: 1rem;
}

.topright {
  width: 40%;
}

.topright span {
  font-size: 1.55rem;
}

.terminal {
  margin-top: 1.5rem;
}

.middle {
  width: 60%;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  border: 1px var(--gray5) solid;
  padding: 0 2rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-radius: 2px;
}

.tagholder {
  display: flex;
  flex-direction: column;
  padding-left: 0.4rem;
}

.tagholder a {
  text-decoration: underline;
  color: var(--blue-light);
  margin-bottom: 3px;
  font-size: 1.5rem;
}

.tagholder a:hover {
  cursor: pointer;
  color: var(--blue-dark);
}

.bot {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px var(--gray5) solid;
  padding: 0 2rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  border-radius: 2px;
}

.bot span {
  font-size: 1.55rem;
  margin-left: 1px;
}

.bot h3 {
  margin-bottom: 2rem;
}

.no-overview {
  color: var(--gray2);
  font-style: italic;
}

.topright .outlinedButton {
  margin-top: 20px;
  margin-left: auto;
}

.bot button {
  margin-top: 20px;
  margin-right: 1.5rem;
}

.bot textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 1.5rem;
  border: 2px solid var(--blue-primary);
  min-height: 30rem;
  border-radius: 1rem;
}
