<!-- TODO ADD EDITING WINDOWS FOR shortDescription, Categories and Repo Overview -->
<div class="top">
  <div class="topleft">
    <h2>
      Creator/repoName<i
        class="fa fa-lock"
        aria-hidden="true"
        matTooltip="Private repository"
      ></i>
    </h2>
    <p>Created 27 days ago</p>

    <!-- TODO ADD EDITING WINDOW -->
    <span>shortDescription<i class="fa fa-pencil"></i></span>

    <div class="categories">
      <span>specificCategory</span>

      <!-- TODO ADD EDITING WINDOW -->
      <i class="fa fa-pencil"></i>
    </div>
  </div>
  <div class="topright">
    <div style="display: flex; flex-direction: row">
      <div>
        <h3>Docker commands</h3>
        <span>To push a new tag to this repository:</span>
      </div>
      <button class="outlinedButton">Public view</button>
    </div>
    <div class="terminal">docker push Creator/repoName:tagname</div>
  </div>
</div>
<div class="middle">
  <h3>Tags</h3>
  <div class="tagholder">
    <a>Tag 1.2.4</a>
    <a>Tag 2.4.5</a>
  </div>
</div>
<div class="bot">
  <h3>Repository overview</h3>
  <div class="repo-overview">
    <span
      >An overview describes what your image does and how to run it. It displays
      in the public view of your repository once you have pushed some
      content.</span
    >
  </div>
  <!-- TODO ADD EDITING WINDOW -->
  <button class="outlinedButton">Add overview</button>
</div>
