h3 {
  margin: 0;
}

label {
  font-weight: 500;
  margin: 0;
}

input[type="radio"] {
  margin: 0;
}

.component {
  width: 100%;
  padding: 2.5rem;
  display: flex;
  flex-direction: row;
}

.first {
  width: 65%;
  padding-right: 6rem;
}

.first > h3 {
  margin-bottom: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  margin-bottom: 1.5rem;
}

.header label {
  margin-right: 0.5rem;
}

.header div {
  display: flex;
  flex-direction: column;
}

.header select {
  width: 15rem;
  margin-top: 0.3px;
  height: 2.5rem;
  border-radius: 0.3rem;
  border: 1.5px var(--gray3) solid;
}

.header input {
  width: 35rem;
  padding-left: 0.5rem;
  height: 2.5rem;
  border-radius: 0.3rem;
  border: 1.5px var(--gray3) solid;
}

.first > label {
  margin-right: 0.5rem;
}

.first > textarea {
  width: 100%;
  height: 15rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1.5px var(--gray3) solid;
  resize: none;
  font-size: 1.2rem;
}

.first > p {
  margin: 0;
}

.radioDiv {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  padding-right: 50%;
  padding-left: 5%;
}

.radioDiv div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: first baseline;
}

.radioDiv input {
  margin-right: 0.3rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.radioDiv label {
  padding-bottom: 2rem;
  padding-top: 1rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radioDiv i {
  margin-left: 3px;
  font-size: 2rem;
  color: var(--gray3);
}

.radioDiv div :hover {
  cursor: pointer;
}

.first .footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.footer button {
  height: 3.2rem;
  width: 9rem;
  padding: 0 1.5rem;
  border-radius: 0.3rem;
  transition: 200ms;
}

.blueButton {
  border: 2px solid;
  border-color: var(--blue-primary);
  background-color: var(--blue-primary);
  margin-left: 1rem;
  color: whitesmoke;
}

.cancelButton {
  border: 2px solid;
  border-color: var(--cancel-button-red);
  color: black;
}

.cancelButton:hover {
  opacity: 0.77;
  transition: 200ms;
}

.blueButton:hover {
  border-color: var(--blue-light);
  background-color: var(--blue-light);
  transition: 200ms;
}
