<div class="component">
  <h2>Usage</h2>
  <span>Discover insights into your Docker Hub pulls and usage metrics.</span>
  <div class="namespace">
    <select name="" id="">
      <option value="">napraviti ovo</option>
    </select>
  </div>
  <div class="graph">
    <h3>Pulls over time</h3>
    <!-- TODO POPULATE WITH GRAPHS -->
  </div>
  <div class="graph">
    <h3>Top repositories by pulls</h3>
    <!-- TODO POPULATE WITH GRAPHS -->
  </div>
  <div class="bar">
    <div class="smallgraph" style="margin-right: 2.5rem">
      <span>AVG DAILY PULLS</span>
      <!-- TODO POPULATE WITH GRAPHS -->
    </div>
    <div class="smallgraph">
      <span>AVG DAILY VERSION CHECKS</span>
      <!-- TODO POPULATE WITH GRAPHS -->
    </div>
  </div>
</div>
