<div class="component">
  <h3>Organization information</h3>
  <p>This information is private to users with access to this organization.</p>
  <span>Organization name</span>
  <input type="text" placeholder="Organization name" />
  <span>Company</span>
  <input type="text" placeholder="Company" />
  <span>Location</span>
  <input type="text" placeholder="Location" />
  <span>Website</span>
  <input type="text" placeholder="Website" />
  <div class="footer">
    <button class="blueButton">Update</button>
  </div>
</div>
