<div class="component">
  <h3>Organization information</h3>
  <p>This information is private to users with access to this organization.</p>

  <h3>Organization name</h3>

  <span>Description</span>
  <input
    type="text"
    placeholder="Description"
    [(ngModel)]="description"
    name="description"
  />

  <span>Image</span>
  <input type="text" placeholder="Image" [(ngModel)]="image" name="image" />

  <div class="footer">
    <button class="blueButton" (click)="updateOrganisation()">Update</button>
    <button class="redButton" (click)="deactivateOrganisation()">
      Delete organisation
    </button>
    This action can not be undone!
  </div>
</div>
