<div class="component">
  <div class="header">
    <button class="outlinedButton" (click)="openDialog()">
      Invite members
    </button>
  </div>
  <table>
    <thead>
      <th>Username</th>
      <th>Full name</th>
      <th>Role</th>
      <th>Teams</th>
    </thead>
    <tbody>
      <tr>
        <td>member1</td>
        <td>fullName</td>
        <td>Owner</td>
        <td>numberOfTeams</td>
      </tr>
      <tr>
        <td>member2</td>
        <td>fullName</td>
        <td>Member</td>
        <td>numberOfTeams</td>
      </tr>
      <tr>
        <td>member3</td>
        <td>--</td>
        <td class="gray">Pending...</td>
        <td>--</td>
      </tr>
    </tbody>
  </table>
</div>
