<div class="cardbar">
  <div
    class="card"
    routerLink="/dockerhub/r/{{ repo.id }}"
    *ngFor="let repo of filteredRepositories"
  >
    <div class="header">
      <img src="../../assets/images/logo_beli.png" alt="" />
      <p>
        <span *ngIf="category === 'Official' || isOfficialRepository(repo.id)">
          {{ repo.name }}
        </span>
        <span *ngIf="category !== 'Official' && !isOfficialRepository(repo.id)">
          {{
            repo.organisation?.name
              ? (repo.organisation?.name | spaceToUnderscore | lowercase)
              : (repo.owner.name | lowercase)
          }}/{{ repo.name }}
        </span>
      </p>

      <p style="margin-left: auto; color: #4271e7">
        <span
          *ngIf="category === 'Official' || isOfficialRepository(repo.id)"
          matTooltip="Docker official image"
        >
          Docker Official Image
        </span>
        <span *ngIf="category !== 'Official' && !isOfficialRepository(repo.id)">
          {{ getUserBadge(repo.owner.id) | lowercase }}
        </span>
      </p>
    </div>
    <div class="body">
      {{ repo.description }}
    </div>
    <div class="footer">
      <span>
        <i class="fa fa-star" aria-hidden="true"></i> {{ repo.star }}
      </span>
      <span>
        <i class="fa fa-download" aria-hidden="true"></i>
        {{ getDownloadCount(repo.id) }}</span
      >
    </div>
  </div>
</div>
