<div *ngIf="repository$ | async as repo" class="body">
  <div class="first">
    <h2>Repository description</h2>
    <div class="desc">{{ repo.description }}</div>
  </div>

  <div class="second">
    <h3>Docker Pull Command</h3>
    <div class="terminal">
      <p>docker pull {{ repo?.name }}/build</p>
      <button
        mat-raised-button
        color="primary"
        (click)="copyToClipboard(repo.name)"
      >
        <span *ngIf="!copied"> Copy </span>
        <span *ngIf="copied"> Copied! </span>
      </button>
    </div>
  </div>
</div>
