<div class="component">
  <div class="header">
    <h1>Organizations</h1>
    <button class="blueButton" routerLink="/dockerhub/organizations/create">
      Create Organization
    </button>
  </div>
  <div class="tablediv">
    <table>
      <thead>
        <th>Namespace</th>
        <th>Name</th>
        <th>My Role</th>
        <th>Teams</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <a><i class="fa fa-building-o" aria-hidden="true"></i>namespace</a>
          </td>
          <td>name</td>
          <td>role</td>
          <td>numberOfTeams</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
