<div class="component">
  <div class="header">
    <h1>Organizations</h1>
    <button class="blueButton" routerLink="create">Create Organization</button>
  </div>
  <div class="tablediv">
    <div *ngIf="loading">Loading...</div>
    <table *ngIf="!loading">
      <thead>
        <th>Name</th>
        <th>Owner id</th>
        <th>Number of teams</th>
        <th>Number of members</th>
      </thead>
      <tbody>
        <tr *ngFor="let org of organisations">
          <td>
            <a [routerLink]="org.name">
              <i class="fa fa-building-o" aria-hidden="true"></i>{{ org.name }}
            </a>
          </td>
          <td>{{ org.ownerId }}</td>
          <td>{{ org.teams.length }}</td>
          <td>{{ org.members.length }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
